<section data-ng-controller="AuthenticationController">
	<h3 class="hidden col-md-12 text-center">Sign up using your social accounts</h3>
	<div class=" hidden col-md-12 text-center">
		<a href="/auth/facebook" class="undecorated-link">
			<img src="/modules/users/img/buttons/facebook.png">
		</a>
		<a href="/auth/twitter" class="undecorated-link">
			<img src="/modules/users/img/buttons/twitter.png">
		</a>
		<a href="/auth/google" class="undecorated-link">
			<img src="/modules/users/img/buttons/google.png">
		</a>
		<a href="/auth/linkedin" class="undecorated-link">
			<img src="/modules/users/img/buttons/linkedin.png">
		</a>
		<a href="/auth/github" class="undecorated-link">
			<img src="/modules/users/img/buttons/github.png">
		</a>
	</div>

	<div>
		<form name="userForm" data-ng-submit="signup()" class="signin form-horizontal text-center" novalidate autocomplete="off">
			<h4 class="md-title">Sign up</h4>
			<div class="text-left">
				<md-input-container class="md-block">
					<label>First name</label>
					<input name="firstName" ng-model="credentials.firstName" required>
				</md-input-container>
			</div>
			<div class="text-left">
				<md-input-container class="md-block">
					<label>Last name</label>
					<input name="lastName" ng-model="credentials.lastName" required>
				</md-input-container>
			</div>
			<div class="text-left">
				<md-input-container class="md-block">
					<label>Email</label>
					<input type="email" name="email" ng-model="credentials.email" required>
				</md-input-container>
			</div>
			<div class="text-left">
				<md-input-container class="md-block">
					<label>Username</label>
					<input name="username" ng-model="credentials.username" required>
				</md-input-container>
			</div>
			<div class="text-left">
				<md-input-container class="md-block">
					<label>Password</label>
					<input name="password" type="password" ng-model="credentials.password" required md-minlength="6">
					<div ng-messages="credentials.password.$error" ng-show="credentials.password.$dirty">
						<div ng-message="required">This is required!</div>
						<div ng-message="minlength">That's too short!</div>
					</div>
				</md-input-container>
			</div>
			<md-button type="submit" class="md-primary md-raised">Sign up</md-button>

			<div data-ng-show="error" class="text-danger">
				<strong data-ng-bind="error"></strong>
			</div>
			<div data-ng-show="message" class="text-center text-success">
				<strong data-ng-bind="message"></strong>
			</div>
		</form>
	</div>
</section>
