<section data-ng-controller="AuthenticationController">
	<h3 class="col-md-12 text-center hidden">Sign in using your social accounts</h3>
	<div class="col-md-12 text-center hidden">
		<a href="/auth/facebook" class="undecorated-link">
			<img src="/modules/users/img/buttons/facebook.png">
		</a>
		<a href="/auth/twitter" class="undecorated-link">
			<img src="/modules/users/img/buttons/twitter.png">
		</a>
		<a href="/auth/google" class="undecorated-link">
			<img src="/modules/users/img/buttons/google.png">
		</a>
		<a href="/auth/linkedin" class="undecorated-link">
			<img src="/modules/users/img/buttons/linkedin.png">
		</a>
		<a href="/auth/github" class="undecorated-link">
			<img src="/modules/users/img/buttons/github.png">
		</a>
	</div>

	<div>
		<form data-ng-submit="signin()" class="signin text-center" autocomplete="off">
			<h4 class="md-title">Sign in</h4>
			<div class="text-left">
				<md-input-container class="md-block">
					<label>Username</label>
					<input name="username" ng-model="credentials.username" required minlength="4">
					<div ng-messages="credentials.username.$error" ng-show="credentials.username.$dirty">
						<div ng-message="required">This is required!</div>
						<div ng-message="minlength">That's too short!</div>
					</div>
				</md-input-container>
			</div>
			<div class="text-left">
				<md-input-container class="md-block">
					<label>Password</label>
					<input name="password" type="password" ng-model="credentials.password" required md-minlength="6">
					<div ng-messages="credentials.password.$error" ng-show="credentials.password.$dirty">
						<div ng-message="required">This is required!</div>
						<div ng-message="minlength">That's too short!</div>
					</div>
				</md-input-container>
			</div>
			<md-button type="submit" class="md-primary md-raised">Sign in</md-button>
			<md-button href="/#!/signup" class="md-default md-raised">Sign up</md-button>
			<div class="forgot-password">
				<a href="/#!/password/forgot">Forgot your password?</a>
			</div>

			<div data-ng-show="error" class="text-danger">
				<strong data-ng-bind="error"></strong>
			</div>
		</form>
	</div>
</section>
