<section data-ng-controller="PasswordController">
	<div>
		<form data-ng-submit="askForPasswordReset()" class="signin text-center" autocomplete="off">
			<h4 class="md-title">Restore your password</h4>
			<div class="text-left">
				<md-input-container class="md-block">
					<label>Username</label>
					<input name="username" ng-model="credentials.username" required>
				</md-input-container>
			</div>
			<md-button type="submit" class="md-primary md-raised">Submit</md-button>
			<div data-ng-show="error" class="text-danger">
				<strong>{{error}}</strong>
			</div>
			<div data-ng-show="success" class="text-success">
				<strong>{{success}}</strong>
			</div>
		</form>
	</div>
</section>