.client-dropdown {
	width: calc(100% - 50px);
	display: inline-block;
}

.list-group li {
	display: flex;
}

.list-group li input[type="number"] {
	width: calc(100% - 50px);
	display: inline-block;
}

.add-product-btn {
	position: absolute;
	top: 10px;
	right: 30px;
}

.products-panel-body {
	position: relative;
}

.modal-body tr {
	cursor: pointer;
}

.add-client-btn {
	position: absolute;
	top: 15px;
	right: 15px;
}

.client-name-input {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

.orders .page-header {
	position: relative;
	height: 70px;
}

.orders .page-header h1 {
	position: absolute;
	left: 0;
	top: 0;
}

.orders .page-header a {
	position: absolute;
	right: 0;
	top: 0;
	text-align: right;
	margin: 20px 0 10px;
}

.alert {
	position: fixed;
    bottom: 20px;
    right: 40px;
    left: 40px;
    z-index: 1000;
}

table.table tbody tr td {
    vertical-align: middle;
}

.edit-order .panel {
	padding: 0;
}

.order-status-panel .panel-body, .order-client-panel .panel-body {
	min-height: 105px;
	padding: 10px 30px;
}

.order-client-panel .panel-body {
	line-height: 65px;
}

.order-status-panel h3 {
	margin-top: 0;
}
