<section data-ng-controller="OrdersController" data-ng-init="find()" class="orders">
    <div class="page-header">
        <h1>Orders</h1>
        <a class="btn btn-success pull-right" href="/#!/orders/create">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </a>
    </div>
    <div class="input-group" ng-hide="!orders.length">
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </span>
        <input placeholder="Search" class="form-control" ng-model="searchText" class="pull-right">
    </div>

    <div ng-hide="!orders.length">
        <input type="checkbox" ng-model="notDeliveredFilter"> Show only not delivered orders
    </div>
    
    <table id="search-table" class="table table-hover table-responsive clickable-table" ng-hide="!orders.length">
        <thead>
            <th class="text-center">Client name</th>
            <th class="text-center">Address</th>
            <th class="text-center">Delivery Date</th>
            <th class="text-center hidden-xs">Operations</th>
        </thead>
        <tbody>
            <tr data-ng-repeat="order in orders | orderBy:'deliveryDate' | filter:searchText | filter: (notDeliveredFilter || '') && {delivered:false}" ng-click="showOrder(order._id)">
                <td class="list-group-item-heading" data-ng-bind="order.client.fullname"></td>
                <td class="list-group-item-heading" data-ng-bind="order.address"></td>
                <td class="list-group-item-heading">
                    {{order.deliveryDate | date:'dd/MM/yyyy'}}
                    <span class="badge">{{order.deliveryDate | date:'HH:mm'}}</span>
                </td>
                <td class="list-group-item-heading text-center hidden-xs">
                    <button class="btn btn-success" ng-show="!order.cancelled" ng-click="changeStatus(order._id, 1, $event)">{{order.delivered ? 'Mark as Pending': 'Mark as Delivered'}}</button>
                    <button class="btn btn-alert" ng-disabled="{{order.delivered}}" ng-click="changeStatus(order._id, 2, $event)">{{order.cancelled ? 'Undo': 'Cancel'}}</button>
                    <button class="btn btn-danger" ng-show="order.cancelled" ng-click="remove(order)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div ng-hide="orders.length">
        There is no order created. <a href="/#!/orders/create">Why don't you create a new one?</a>
    </div>
</section>
