<section data-ng-controller="OrdersController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Order for {{client.fullname}}</h1>
	</div>
	<div class="pull-right">
		<a class="btn btn-primary" href="/#!/orders/{{order._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>

	<table class="table table-responsive table-hover">
		<thead>
			<th>Product</th>
			<th>Quantity</th>
		</thead>
		<tbody>
			<tr data-ng-repeat="product in products">
				<td>{{product.name}}</td>
				<td>{{product.quantity}}</td>
			</tr>
		</tbody>
	</table>
</section>
