<section data-ng-controller="SettingsController">
	<div>
		<form data-ng-submit="changeUserPassword()" class="signin text-center" autocomplete="off">
			<h4 class="md-title">Change your password</h4>

			<div class="text-left">
				<md-input-container class="md-block">
					<label>Current password</label>
					<input name="currentPassword" type="password" ng-model="passwordDetails.currentPassword" required md-minlength="6">
				</md-input-container>
			</div>
			<div class="text-left">
				<md-input-container class="md-block">
					<label>New password</label>
					<input name="newPassword" type="password" ng-model="passwordDetails.newPassword" required md-minlength="6">
				</md-input-container>
			</div>
			<div class="text-left">
				<md-input-container class="md-block">
					<label>Verify password</label>
					<input name="verifyPassword" type="password" ng-model="passwordDetails.verifyPassword" required md-minlength="6">
				</md-input-container>
			</div>

			<md-button type="submit" class="md-primary md-raised">Save password</md-button>

			<div data-ng-show="success" class="text-center text-success">
				<strong>Password Changed Successfully</strong>
			</div>
			<div data-ng-show="error" class="text-center text-danger">
				<strong data-ng-bind="error"></strong>
			</div>
		</form>
	</div>
</section>