<section data-ng-controller="SettingsController">
	<div>
		<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin text-center" autocomplete="off">
			<h4 class="md-title">Edit your profile</h4>
			<div class="text-left">
				<md-input-container class="md-block">
					<label>First name</label>
					<input name="firstName" ng-model="user.firstName" required>
				</md-input-container>
			</div>
			<div class="text-left">
				<md-input-container class="md-block">
					<label>Last name</label>
					<input name="lastName" ng-model="user.lastName" required>
				</md-input-container>
			</div>
			<div class="text-left">
				<md-input-container class="md-block">
					<label>Email</label>
					<input type="email" name="email" ng-model="user.email" required>
				</md-input-container>
			</div>
			<div class="text-left">
				<md-input-container class="md-block">
					<label>Username</label>
					<input name="username" ng-model="user.username" required minlength="4">
				</md-input-container>
			</div>

			<md-button type="submit" class="md-primary md-raised">Save profile</md-button>
			<md-button href="/#!/" class="md-raised md-warn">Cancel</md-button>

			<div data-ng-show="success" class="text-center text-success">
				<strong>Profile Saved Successfully</strong>
			</div>
			<div data-ng-show="error" class="text-center text-danger">
				<strong data-ng-bind="error"></strong>
			</div>
		</form>
	</div>
</section>